data/
cms/solver_files/
cms/results/
*__pycache__*
outreach/data/
outreach/templates/
outreach/qr_codes/
outreach/paper/
models/results/
wsfcs/results/
models/solver_files/
models/sweep_configs/
friending_bias/__pycache__/
*__pycache__/*
utils/__pycache__/
wsfcs/__pycache__/
models/__pycache__/
analysis/__pycache__/
frontend/__pycache__/
frontend/logs/
analysis/paper_figs/
.vscode/
openrouteservice/
simulation_outputs/
analysis/rsconnect/
.DS_Store
.idea
.idea/*
.idea/workspace.xml
.idea/csv-editor.xml
/wsfcs/analysis/figures/
/wsfcs/analysis/
friending_bias/data/
/wsfcs/analysis/*.png
*/*.icloud
/wsfcs/analysis/*.pdf
/wsfcs/jobs
/wsfcs/dashboard/cache/
/wsfcs/__pycache__
/wsfcs/dashboard/__pycache__
.streamlit/config.toml

